
.App {
  text-align: center;
}

*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  --primary: #56e6eb;
  --secondary: #6fa7e7;
  --secondary-light: #e3eff8;
  --white: rgb(17, 15, 15);
}
body {
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0 1rem;
}
.Heading{
  background-color: #d36a76;
  padding: 30px;
  color: rgb(64, 91, 240);
  margin-bottom: 2rem;
  /* background-image: url('/Images/sliced-graham-cake-1639567.jpg'); */
  background-image: url('/Images/fruit-salads-in-plate-1640774.jpg');
   background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
button {
  background-color:#56e6eb;
  border: 0;
  color:white;
  flex-grow: 0;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0.75rem 1rem;
  text-transform: uppercase;
}

input {
  background-color: #e3eff8;
  border: 2px solid  #6fa7e7;
  color: var(--white);
  flex-grow: 1;
  font-size: 1.2rem;
  padding: 0.75rem 1rem;
  width: 100%;
  box-shadow: -1px 2px 34px -13px;
}
.recipeSearch {
  align-items: center;
  display: flex;
}
.muted {
  color: #a1a1a1;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
}

h1{
  margin: 0;
  color: rgb(32, 56, 53);
/* font-family: Arial, Helvetica, sans-serif; */
font-style: inherit;
font: 1em sans-serif;
font-size: 28px;
font-style: oblique;
}
p {
  margin: 0;
  /* color: rgb(102, 102, 77); */
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
}
@media (min-width: 600px) {
  button + button,
  input + button {
    margin-left: 1rem;
  }
  header {
    align-items: center;
    flex-direction: row;
  }
}