
.App {
  text-align: center;
}

*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  --primary: #56e6eb;
  --secondary: #6fa7e7;
  --secondary-light: #e3eff8;
  --white: rgb(17, 15, 15);
}
body {
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0 1rem;
}
.Heading{
  padding: 30px;
  color: rgb(54, 53, 50);
  margin-bottom: 2rem;
  background-image: url('/Images/fruit-salads-in-plate-1640774.jpg');
   background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 20px;
  text-shadow: 0px 0px;
  font-weight: bold;
}
div.app {
  /* background: url('/Images/fruit-salads-in-plate-1640774.jpg') repeat; */
  border: 2px solid black;
}

div.Heading h1{
  margin: 30px;
  /* background-color: #ffffff; */
  /* border: 1px solid rgb(243, 231, 231); */
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  /* opacity: 0.6; */
  font-weight: bold;
}
div.Heading p {
  margin: 5%;
  font-weight: bold;
  color: #6d4949;
  font-family: "Lucida Console", Courier, monospace;
}
button {
  background-color:#56e6eb;
  border: 0;
  color:white;
  flex-grow: 0;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0.75rem 1rem;
  text-transform: uppercase;
}

input {
  background-color: #e3eff8;
  border: 2px solid  #6fa7e7;
  color: var(--white);
  flex-grow: 1;
  font-size: 1.2rem;
  padding: 0.75rem 1rem;
  width: 100%;
  box-shadow: -1px 2px 34px -13px;
}
.recipeSearch {
  align-items: center;
  display: flex;
}
.muted p{
  color: #bd7070;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
  
}

h1{
  margin: 0;
   color: #974545;
  /* color: #e45311f5; */
font-style: inherit;
font-family: "Lucida Console", Courier, monospace;
font-size: 5.9vw;
font-style: oblique;
 text-shadow: 2px 2px;
}
p {
  margin: 0;
  color: rgb(90, 33, 10);
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
}

h2{
  margin: 0;
   color: #0f885a;
  /* color: #e45311f5; */
font-style: inherit;
font-family: "Lucida Console", Courier, monospace;
font-size: 5.9vw;
font-style: oblique;
 text-shadow: 2px 2px;
}
h3{
  margin: 0;
   color: #0d4d34;
  /* color: #e45311f5; */
font-style: inherit;
font-family: "Lucida Console", Courier, monospace;
font-size: 5.9vw;
font-style: oblique;
 text-shadow: 1px 1px;
}
h4{
  margin: 0;
   color: #362535;
  /* color: #e45311f5; */
font-style: inherit;
font-family: "Lucida Console", Courier, monospace;
font-size: 5.9vw;
font-style: oblique;
 text-shadow: 1px 1px;
}
ul{
  margin: 0;
   color: #236236;
  /* color: #e45311f5; */
font-style: inherit;
font-family: "Lucida Console", Courier, monospace;
font-size: 1.9vw;
font-style: oblique;
}
@media (min-width: 600px) {
  button + button,
  input + button {
    margin-left: 1rem;
  }
  header {
    align-items: center;
    flex-direction: row;
  }
}